header{
    background-color: red;
    padding: 20px 100px;
    nav{
        display: flex;
        justify-content: space-between;
        &>div{
            display: flex;
            gap: 30px;
        }
    }
}